In [1]:
#using collabrative filtering because it makes more sense
import pandas as pd
import numpy as np
import pickle
from  sklearn.metrics import pairwise
import numpy as np
from scipy import spatial
import matplotlib.pyplot as plt
from sklearn.manifold import TSNE

In [2]:
data = pd.read_excel("User profile.xlsx", error_bad_lines=False)

In [3]:
data.shape

(5872, 6)

In [4]:
data.head()

,User_ID,Country,University,Qualification,Discipline,GPA
0,1.0,canada,college,diploma,computer programmer,90
1,2.0,India,LPS,School,Computer Science,85
2,3.0,nigeria,crutech crossriver,bsc,electrical/electronic engineering,3.56
3,4.0,Indonesia,Lampung University,Bachelor,Computer Science,"3,55"
4,5.0,United states,Ohio university southern,freshman,undecided,2.5

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5872 entries, 0 to 5871
Data columns (total 6 columns):
User_ID          1702 non-null float64
Country          5863 non-null object
University       5837 non-null object
Qualification    5850 non-null object
Discipline       5846 non-null object
GPA              5840 non-null object
dtypes: float64(1), object(5)
memory usage: 275.3+ KB

In [6]:
# data.drop("User_ID", axis=1, inplace=True)
print(data.shape)
data.dropna(axis=0, inplace=True)

(5872, 6)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1676 entries, 0 to 1701
Data columns (total 6 columns):
User_ID          1676 non-null float64
Country          1676 non-null object
University       1676 non-null object
Qualification    1676 non-null object
Discipline       1676 non-null object
GPA              1676 non-null object
dtypes: float64(1), object(5)
memory usage: 91.7+ KB

In [8]:
data = data.apply(lambda x: x.astype(str).str.lower())
data = data.apply(lambda x: x.astype(str).str.strip())

In [9]:
oppurtunity = pd.read_excel("Opportunity Dataset.xlsx")

In [10]:
oppurtunity.head()
oppurtunity = oppurtunity.apply(lambda x: x.astype(str).str.lower())
oppurtunity = oppurtunity.apply(lambda x: x.astype(str).str.strip())

In [11]:
oppurtunity["Funding"].fillna("none",inplace=True)
oppurtunity["Funding"].value_counts()

nan                                         3403
fully funded                                1057
none                                         522
partially funded                             511
full funded                                    2
partial scholarship                            1
full funding                                   1
fullly funded                                  1
partially funde                                1
£25 for students, £100 for professionals       1
Name: Funding, dtype: int64

In [12]:
oppurtunity["Sub tags"].fillna("none",inplace=True)
oppurtunity["Sub tags"].value_counts()

nan                                                                                                                                                                                                          2893
none                                                                                                                                                                                                          107
photography                                                                                                                                                                                                    97
admissions                                                                                                                                                                                                     42
economics                                                                                                                                                                                                      32
law                                                                                                                                                                                                            30
journalism                                                                                                                                                                                                     29
environment                                                                                                                                                                                                    26
art                                                                                                                                                                                                            23
poetry                                                                                                                                                                                                         22
article                                                                                                                                                                                                        22
human rights, law                                                                                                                                                                                              20
social science                                                                                                                                                                                                 20
un                                                                                                                                                                                                             18
research                                                                                                                                                                                                       18
finance                                                                                                                                                                                                        17
biology                                                                                                                                                                                                        15
oxford university                                                                                                                                                                                              14
unesco                                                                                                                                                                                                         13
health and medicine                                                                                                                                                                                            13
education                                                                                                                                                                                                      12
business                                                                                                                                                                                                       12
economic                                                                                                                                                                                                       11
history                                                                                                                                                                                                        11
university of edinburgh                                                                                                                                                                                         9
harvard university                                                                                                                                                                                              9
marketing                                                                                                                                                                                                       9
media                                                                                                                                                                                                           9
startups                                                                                                                                                                                                        9
who                                                                                                                                                                                                             9
                                                                                                                                                                                                             ...
climate change                                                                                                                                                                                                  1
univeristy of oxford                                                                                                                                                                                            1
sustainable energy                                                                                                                                                                                              1
european parliament                                                                                                                                                                                             1
commonwealth foundation                                                                                                                                                                                         1
prize                                                                                                                                                                                                           1
asian studies, humanities, social sciences                                                                                                                                                                      1
art history, culture, heritage studies, history, humanities, social sciences                                                                                                                                    1
osf eurasia                                                                                                                                                                                                     1
african writers trust                                                                                                                                                                                           1
history, jewish studies                                                                                                                                                                                         1
african study center                                                                                                                                                                                            1
international mathematics union                                                                                                                                                                                 1
arts, asianstudies, culture, history, literature                                                                                                                                                                1
communication studies, computer engineering, computer sciences, electronics, engineering, software engineering, technology                                                                                      1
dartmouth college                                                                                                                                                                                               1
loreal                                                                                                                                                                                                          1
anthropology, digital humanities , economics, gender studies, geography, history, humanities, international relations, law, philosophy, political sciences, religious studies, social sciences, sociology       1
politics, tana forum annual university                                                                                                                                                                          1
danish refugee council                                                                                                                                                                                          1
arts, culture                                                                                                                                                                                                   1
armenian genocide, armenian studies, genocide, history, humanities, middle eastern studies, socialsciences, turkishstudies                                                                                      1
democracy studies, human rights, law,                                                                                                                                                                           1
seoul national university                                                                                                                                                                                       1
life science,biodiversity                                                                                                                                                                                       1
gender rights                                                                                                                                                                                                   1
politics, international cooperative alliance                                                                                                                                                                    1
fortis                                                                                                                                                                                                          1
cargo                                                                                                                                                                                                           1
aif                                                                                                                                                                                                             1
Name: Sub tags, Length: 1147, dtype: int64

In [13]:
oppurtunity.iloc[1]

ID                                                                                        2
Headline                                   city of dreams pavilion 2020: call for proposals
Description                               the current state of the world is such that bo...
Funding                                                                                 nan
Deadline                                                                2019-09-15 00:00:00
Type of opportunity                                                             conferences
Sub tags                                                                                nan
Discipline                                                       engineering and technology
Minimum Qualification / Applicable for                                              masters
Countries eligible                                                                      all
Location of opportunity                                                                 usa
Name: 1, dtype: object

In [14]:
data.iloc[1]

User_ID                       2.0
Country                     india
University                    lps
Qualification              school
Discipline       computer science
GPA                            85
Name: 1, dtype: object

In [15]:
data.iloc[3][4]

'computer science'

In [16]:
embeddings_dict = {}
with open("glove.6B.50d.txt", 'r') as f:
    for line in f:
        values = line.split()
        word = values[0]
        vector = np.asarray(values[1:], "float32")
        embeddings_dict[word] = vector

In [17]:
def similarity_func(words1,words2):
    words1 = words1.lower()
    words1 = words1.split(" ")
    words2 = words2.lower()
    words2 = words2.split(" ")    
    words1vec=0
    words2vec=0
    for word in words1:
            pass
    return pairwise.cosine_similarity(words1vec.reshape(-1, 1),words2vec.reshape(-1, 1))
    
# similarity_func(oppurtunity.iloc[1][3],oppurtunity.iloc[1][3])

In [18]:
data.iloc[10]

User_ID                            11.0
Country                              ca
University       american river college
Qualification                    junior
Discipline                    sociology
GPA                                 2.8
Name: 10, dtype: object

In [19]:
def NewUserRecommedation(user_id, Country, Qualification, Discipline , oppurtunity):

    print(user_id)
    ls  = []
    print(Discipline.replace("and",",").replace(" ",",").strip().lower().split(",")[0])
    for i in range(len(oppurtunity)):
        #print(oppurtunity.iloc[i][9])
        confidence = 0
        if  oppurtunity.iloc[i][1]=='all' or Country in oppurtunity.iloc[i][1].replace("and",",").replace(" ",",").strip().lower().split(","):
            confidence+=1
#             print("c")
        elif  oppurtunity.iloc[i][8]=='all' or Qualification.replace("and",",").replace(" ",",").strip().lower().split(",")[0] in oppurtunity.iloc[i][8].replace("and",",").replace(" ",",").strip().lower().split(","):
            confidence+=1
#             print("Q")
        elif  oppurtunity.iloc[i][7]=='all' or Discipline.replace("and",",").replace(" ",",").strip().lower().split(",")[0] in oppurtunity.iloc[i][7].replace("and",",").replace(" ",",").strip().lower().split(","):
            confidence+=1
#             print("D")
        ls.append([confidence,oppurtunity.iloc[i][:]])
    ls.sort(key=lambda x: x[0])
    ls = ls[-5:]
    return ls



user = data.iloc[1,:]
i = 10
ls = NewUserRecommedation(data.iloc[i][0],data.iloc[i][1],data.iloc[i][3],data.iloc[i][4],oppurtunity)

opportRecomm = []
for i in ls:
    opportRecomm.append(i[1])
# print(opportRecomm)
# np.unique(ls,return_counts=True)
pd.DataFrame(opportRecomm)
#return opportunity fully

11.0
sociology

,ID,Headline,Description,Funding,Deadline,Type of opportunity,Sub tags,Discipline,Minimum Qualification / Applicable for,Countries eligible,Location of opportunity
5487,5488,shanghai government scholarships in china,dhu has been appointed to accept international...,fully funded,2020-03-31 00:00:00,"scholarships, fellowships",admissions,all,schools,all,china
5488,5489,general scholars program 2020 in china,the applications for the funded general schola...,fully funded,nan,"scholarships, fellowships",admissions,all,bachelors,algeriaangolabeninbotswanaburkina fasoburundic...,china
5489,5490,university of sussex chancellor international ...,the applications for the funded international ...,nan,2020-05-01 00:00:00,"scholarships, fellowships",university of sussex,all,bachelors,all,united kingdom
5490,5491,scholarships for international students at uni...,scholarships for international students are av...,nan,2020-03-30 00:00:00,"scholarships, fellowships",university of pittsburgh,all,schools,all,usa
5495,5496,scholarships of the week.,fully funded chinese government scholarshipchi...,nan,2020-04-24 00:00:00,"scholarships, fellowships",nan,all,schools,all,online

In [20]:
#when a user updates its profile by applying for any oppurtunity
def updateUserProfile(user1,opportunity1):
    
    if opportunity1["Funding"] in user1["Funding"]: 
        user1["Funding"][opportunity1["Funding"]]+=1
    else:
        user1["Funding"][opportunity1["Funding"]]=1
        
    if opportunity1["Sub tags"] in user1["Sub tags"]: 
        user1["Sub tags"][opportunity1["Sub tags"]]+=1
    else:
        user1["Sub tags"][opportunity1["Sub tags"]]=1
        
    if opportunity1["Location of opportunity"] in user1["Location of opportunity"]: 
        user1["Location of opportunity"][opportunity1["Location of opportunity"]]+=1
    else:
        user1["Location of opportunity"][opportunity1["Location of opportunity"]]=1
    
    return user1#update user profile in Database

#input take user input and oppurtunity
#return user profile

In [21]:

#input take user profile and all oppurtunities
#return recommended oppurtunities

In [22]:
data.columns

Index(['User_ID', 'Country', 'University', 'Qualification', 'Discipline',
       'GPA'],
      dtype='object')